/* Universal */
html, body {
	font-family: sans-serif;
	margin: 0;
	background: #000000;
}

a{
    text-decoration: none;
}
/* Universal */

/* Header */
.header-section {
	padding-top: 5px;
	padding-bottom: 13px;
	position: relative;
	background-color: #494e5b;
}

.site-logo {
	display: inline-block;
	padding-top: 18px;
    padding-left: 80px;
}

.logo{
    width: 150px;
}

.menu{
	list-style: none;
	float: right;
	padding-right: 30px;
	text-shadow: 1px 1px 2px #eeaefc;
}

.menu li{
	display: inline-block;
}

.menu li a{
	display: block;
	font-size: 13px;
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	padding: 25px;
	margin: 0px;
	float: left;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 5px solid #5bb9eb;
}

.active {
	background: center #000000;
  }

header a:hover{
	color: #494e5b;
}
/* Header */

/* section */
.profile-section {
    padding: 50px 15px;
    position: relative;
	height: 450px;
}

.profile-warp {
	width: 100%;
	margin: 0 auto;
}

.profile-text{
    padding-left: 30px;
    width: 90%;
	float: left;
}

.profile-text h2 {
	font-size: 40px;
	margin-bottom: 25px;
	padding-left: 100px;
	text-align: center;
	color: #00bfff;
	text-shadow: 1px 1px 2px #eeaefc;
}

.profile-text h3 {
	font-size: 20px;
	padding-top: 80px;
	padding-left: 100px;
	margin-bottom: 25px;
	text-align: center;
	color: #00bfff;
	text-shadow: 1px 1px 2px #eeaefc;
}

.profile-text p {
	margin-bottom: 45px;
	padding-left: 100px;
	text-align: center;
	color: #00bfff;
	text-shadow: 1px 1px 2px #eeaefc;
}

.profile-foto {
    width: 45%;
	float: left;
	padding-left: 370px;
}

.foto_profile{
	background: url("../Gambar/logo 1.png");
	background-size: 25%;
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
}
	/* Gallery */

	.isi_galeri{
		min-width: 360px;
		padding-top: 100px;
		padding-bottom: 50px;
		text-align: center;
		position: relative;
		background-color: #000000;
		height: 2000px;
		width: auto;
	}

	.isi_galeri p{
		background: url("../Gambar/logo\ 3.png");
		background-size: 10%;
		background-repeat: no-repeat;
		background-position: center;
		height: 100px;
		border-radius: 100%;
	}

	.isi_galeri h1{
		padding-top: 0px;
		color: #ff3662;
		padding-bottom: 50px;
		font-size: 30px;

	}

	.gambar{
		margin: 5px 50px 5px 50px;
    	padding: 30px 30px 10px 30px;
    	border: 1px solid #ff3662;
    	float: left;
    	height: 280px;
	}

	.gambar:hover {
    	float: left;
    	border: 1px solid #ff3662;
    	box-shadow: 0px 20px 20px 0px #ff3662;
    	height: 280px;    
	  }
	
	.isi_galeri img{
		width: 250px;
		margin: 5px;
		border:10px;
   		border-style: solid;
   		border-color: #ffffff;
   		padding: 2px;
   		background: #000000;
	}
	/* Gallery */

	/* form */
	.contact-section p{
		background: url("../Gambar/logo\ 4.png");
		background-size: 25%;
		background-repeat: no-repeat;
		background-position: center;
		height: 100px;
		border-radius: 100%;
	}
	.btn {
		border: none;
		text-align: center;
		font-size: 14px;
		padding: 24px 47px;
		border-radius: 0;
		text-transform: uppercase;
		color: #fff;
		cursor: pointer;
		background: #ff7b00;
	}

	.contact-text h2 {
		font-size: 30px;
		margin-bottom: 25px;
		padding-left: 100px;
		text-align: center;
		color: #ff7b00;
	}

	input:focus,
	select:focus,
	button:focus,
	textarea:focus {
		outline: none;
	}

	.contact-section {
		position: relative;
		padding: 120px 0;
		width: 50%;
		margin: 0 auto;
	}

	.contact-form {
		padding-top: 20px;
	}

	.contact-form input,
	.contact-form textarea {
		font-size: 14px;
		background: #000000;
		color: #ff7b00;
		border: none;
		border-bottom: 1px solid #ff7b00;
		padding-bottom: 14px;
		margin-bottom: 20px;
	}

	.contact-form input{
		width: 50%;
	}

	.contact-form textarea {
		width: 100%;
	}

	.contact-form textarea {
		height: 165px;
		margin-bottom: 38px;
	}

	.contact-msg::-webkit-input-placeholder {
		padding-top: 130px;
	}
	/* form */

	/* table */
	table {
		margin: auto;
		color: #232323;
		border-collapse: collapse;
		width: 100%;
	}
	.photo-icon{
		background: url("../Gambar/logo\ 2.png");
		background-size: 18%;
		background-repeat: no-repeat;
		background-position: center;
		height: 100px;
		border-radius: 100%;
	}
	
	table th {
		border: 1px solid #999;
		padding: 8px 20px;
		background: #ffcc00 ;
		color: #000000;
		font-weight: bold;
	}
	
	table td:first-child {
		text-align: center;
		padding-left: 20px;
	}
	
	table td {
		border-bottom: 1px solid #999;
		padding: 8px 20px;
		text-align: center;
		background: #f8faef;
	}
	
	.private-data-section {
		position: relative;
		background: #000000 ;
	}
	
	.private-data-container {
		min-height: 100vh;
		display: flex;
		align-items: center;
		padding: 33px 100px;
	}
	
	.private-data-wrap {
		width: 100%;
	}
	
	.private-data-table {
		z-index: 1000;
		text-align: center;
		color: #ffcc00;
	}
	
	.private-data-table h2 {
		text-align: center;
	}
	/* table */

/* section */

/* footer */
.footer-section {
	background: #494e5b;
	padding: 19px 20px;
	position: relative;
}

.footer-social {
    text-align: right;
	margin-right: 30px;
	height: 10px;
	padding-top: 10px;
}

.footer-social a {
	margin-right: 50px;
}

.icon{
	width: 25px;
}

.footer-copyright {
	color: #fff;
	font-size: 11px;
	font-weight: 500;
    padding: 2px 0;
}
/* footer */

/* Support */
.merah{
    background: red;
}

.biru{
    background: blue;
}
/* Support */


/* animation */
.icon:hover{
	width: 40px;
}
.main-menu li a:hover {
	color: #2e58a6 ;
}

table tr:hover td {
	background: transparent;
	color: #ffffff;
}

.btn:hover {
	background: #333695;
}

.contact-form input{
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.contact-form input:focus{
	width: 100%;
}

.foto_profile:hover{
	background: url("../Gambar/profile.png");
	background-size: 45%;
	background-repeat: no-repeat;
	background-position: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 30px;
	overflow: hidden;
}

.loading-section {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #212121;
}

.foto_profile{
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.loading {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}
/* animation */